
input:invalid, select:invalid, textarea:invalid {
    border: 2px solid red;
}
body{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
form{
    text-align: center;
}

.rojo{
    color:red;
}

.validationMessages{
    margin: 5em;
    display: grid;
    grid-template-columns: 1fr;
}

h1{
    text-align: center;
}
.error{
    color:red;
    font-size: 12px;
}
.datosUser{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    text-align: center;
    input{
        width: 95%;
        text-align: center;
    }
    .contra{
        grid-column: 2;
        display: grid;
        grid-template-columns: 1fr;
    }
}
.datosPersonal{
    margin: 0 auto;
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    input{
        width: 95%;
    }
    .col3{
        margin-top: 2%;
        margin-bottom: 2%;
         
        display: grid;
        grid-column: 1 /span 2;
        grid-template-columns: 1fr 1fr 1fr;
        .dni-nie{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .titdni{
                grid-column: 1 /span 2;
            }
            .eleccionDniNie{
                width: 80%;
            }
            .error{
                grid-column: 1 /span 2;
            }
        }
        .cuentaCreacion{
            display:grid;
            grid-template-columns: 1fr 1fr;
            .cuentaLabel{
                grid-column: 1 /span 2;
            }
            .error{
                grid-column: 1/span 2;
            }
        }
        .seleccionNacimiento{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    .aficiones{
        display: grid;
        grid-column: 1 /span 2;
        grid-template-columns: 1fr 1fr 1fr;
        .aficiontit{
            grid-column: 1 /span 3;
        }
        .error{
            grid-column: 1 /span 3;
        }
    }
}

.datosPubli{
    margin: 0 auto;
    display: grid;
    width: 80%;
}